.board-b72b1 {
    border: none !important;
    border-radius: 0.5rem !important;
    overflow: hidden;
}

#player-board {
    width: 52rem;
}

#chessboard,
.player-info {
    width: 100%;
}

#chessboard {
    margin: 1rem 0;
}

/* 
#chessboard {
    height: 40rem;
    position: relative;
} */

.player-info {
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
}

/* .player-info-top {
    margin-bottom: 1rem;
}

.player-info-bottom {
    margin-top: 1rem;
} */

.player-name {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.timer-box {
    width: 6rem;
    height: 3rem;
    border-radius: 0.25rem;
    background-color: #e9edc9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-text {
    font-size: 1.6rem;
}
