.board-b72b1 {
    border: none !important;
    border-radius: 0.5rem !important;
    overflow: hidden;
}

#player-board {
    width: 52rem;
}

#chessboard,
.player-info {
    width: 100%;
}

#chessboard {
    margin: 1rem 0;
}

.player-info {
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
}

.player-name {
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.timer-box {
    width: 6rem;
    height: 3rem;
    border-radius: 0.25rem;
    background-color: #e9edc9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-text {
    font-size: 1.6rem;
}

.status {
    width: 100%;
    margin: 1.6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-text {
    color: #fff;
    font-size: 2rem;
}

.resign-btn-container {
    width: 100%;
    margin: 1.6rem 0;
    display: flex;
    justify-content: center;
}

.resign-btn {
    font-family: "Open Sans", serif;
    font-weight: 500;
    border: none;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    color: #fff;
    background-color: #ef233c;
    transition: background-color 0.2s;
}

.resign-btn:hover {
    cursor: pointer;
    background-color: #d90429;
}

.resign-btn:active {
    background-color: #ef233c;
}
