.board-b72b1 {
    border: none !important;
    border-radius: 0.5rem !important;
    overflow: hidden;
}

.interface {
    width: 52rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#dummy-board {
    width: 100%;
    border-radius: 10rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    width: 18rem;
    height: 5rem;
    padding: 0;
    border: none;
    border-radius: 0.25rem;
    font-family: "Open Sans", serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    background-color: #0077b6;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(0, 119, 182, 0.9);
}

.btn:active {
    background-color: #005f91;
}

.link-container {
    padding-right: 0.5rem;
}

#game-link {
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 1.6rem;
    color: #fff;
}

.loader {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
    z-index: 1;
}

@keyframes flash {
    0% {
        background-color: #fff2;
        box-shadow: 32px 0 #fff2, -32px 0 #fff;
    }
    50% {
        background-color: #fff;
        box-shadow: 32px 0 #fff2, -32px 0 #fff2;
    }
    100% {
        background-color: #fff2;
        box-shadow: 32px 0 #fff, -32px 0 #fff2;
    }
}
