.board-b72b1 {
    border: none !important;
    border-radius: 0.5rem !important;
    overflow: hidden;
}

.interface {
    position: relative;
    width: 52rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#dummy-board {
    width: 100%;
    border-radius: 10rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: "Open Sans", serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    background-color: #0077b6;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(0, 119, 182, 0.9);
}

.btn:active {
    background-color: #005f91;
}

.link-container {
    padding-right: 0.5rem;
}

#game-link {
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 1.6rem;
    color: #fff;
}

/* .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
} */
