.interface,
#board1 {
    width: 40rem;
}

.interface {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: "Open Sans", serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    background-color: #0077b6;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(0, 119, 182, 0.9);
}

.btn:active {
    background-color: #005f91;
}

#game-link {
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    font-size: 1.6rem;
}
